<footer id="gal-footer">
    <div class="container">
        Copyright © 2018 <%= config.author ? config.author : '' %> Powered by <a href="https://hexo.io/"
                target="_blank">Hexo</a>.&nbsp;Theme by <a href="https://github.com/ZEROKISEKI"
                target="_blank">AONOSORA</a>
    </div>
</footer>

<!-- 回到顶端 -->
<div id="gal-gotop">
    <i class="fa fa-angle-up"></i>
</div>
<style>
    #cursor-circle {
        pointer-events: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid black;
        background: white;
        mix-blend-mode: exclusion;
        position: absolute;
        z-index: 99999
    }
</style>
<div id="cursor-circle"></div>
<div id="cursor-pointer"></div>
<script type="application/javascript">
    const cursorCircle = document.querySelector("#cursor-circle")
    window.addEventListener('mousemove', e => {
        cursorCircle.style.top = document.documentElement.scrollTop + e.clientY - 11 + 'px'
        cursorCircle.style.left = document.documentElement.scrollLeft + e.clientX - 11 + 'px'
    })
</script>