<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->
    <span id="placard"></span>
    <!-- 自行配置公告内容结束 -->
    <script type="text/javascript">
        //获取n到m之间的随机数[n,m]
        function random(n, m) {
            return parseInt(Math.random() * (m - n + 1) + n);
        }
        var placards = new Array(
            "【公告】阿超的博客全面改版啦！欢迎大家常来玩啊~",
            "【公告】这里阿超，请多多关照~",
            "【公告】欢迎来到阿超的博客",
            "【公告】如果可以的话，可以交个朋友吗？",
            "【公告】希望能对你有所帮助!",
            "【公告】加油！",
            "【公告】之后会慢慢加新功能的哦~",
            "【公告】移动端也可以支持搜索啦！");
        document.getElementById("placard").innerHTML = placards[random(0, placards.length - 1)]
    </script>
</div>