<section class="hidden-xs">
    <ul class="cb-slideshow">
        <li><span>йҳҝе·ҙ</span></li>
        <li><span>йҳҝе·ҙ</span></li>
        <li><span>йҳҝе·ҙ</span></li>
        <li><span>йҳҝе·ҙ</span></li>
        <li><span>йҳҝе·ҙ</span></li>
        <li><span>йҳҝе·ҙ</span></li>
    </ul>
</section>